body, h1, h2, h3, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Nunito', Arial, sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}


/* Header Info */

.infosuperiorbg {
    background-color: #122ab2;
    margin: 0 auto;
}

.infosuperior {
    max-width: 1100px;
    margin: 0 auto;
    color: aliceblue;
    padding: 10px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Menu */

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #FFF;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.headerbg {
    background-color: #2C70FF;
}
.header ul {
    display: flex;
    align-items: center;
}
.header a{
    color: #FFF;
    font-size: 1.5rem;
    padding: 10px;
}
.header span {
    font-weight: bold;
    font-size: 2.5rem;
}

/* Introdução */
.titulo1 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 10px;
    font-size: 3rem;
}
.linha1 {
    max-width: 1100px;
    height: 3px;
    background-color: #2C70FF;
    border: none;
    border-radius: 2px;
}

/* Sobre */

.sobre-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 50px 10px;
}
.titulo2 {
    font-size: 3rem;
}
.sobre1 {
    flex: 2;
}
.sobre-p {
    font-size: 1.4rem;
    padding: 10px 0;
    justify-content: start;
    max-width: 900px;
    color: rgb(97, 97, 97);
}

/* Produtos */

.produtos-container {
    max-width: 1100px;
    margin: 0 auto;
}
.titulo-produtos {
    font-size: 3rem;
    padding: 50px 10px;
}
.divs-container {
    display: flex;
    gap: 20px;
    padding: 0 10px 50px 10px;
    align-items: end;
}
.h3-produtos {
    padding: 40px 10px;
    font-size: 3rem;
    background-color: rgb(247, 247, 247);
    color: rgb(139, 139, 139);
}
.produto1 {
    border-top: #ae81ff solid 10px;
}
.produto2 {
    border-top: #f9265e solid 10px;
}
.produto3 {
    border-top: #66d9eb solid 10px;
}

/* Preço */

.preco-container {
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 10px;
    align-items: end;
    justify-content: center;
    margin: 50px 0;
}
.molde-preco {
    border: #FFF solid 5px;
    padding: 30px 60px;
    text-align: center;
    height: min-content;
}
.molde-preco h2 {
    font-size: 3rem;
    padding: 15px;
}
.molde-preco span {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    border-top: #FFF solid 5px;
    border-bottom: #FFF solid 5px;
    padding: 15px;
}
.molde-preco ul {
    padding: 15px;
    text-align: start;
}
.molde-preco li {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.molde-preco li::after {
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    background-color: #2C70FF;
    border-radius: 50%;
}
.molde-preco a {
    border: #000 solid 5px;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 30px;
    display: block;
}

/* Qualidade */

.qualidade-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.qualidade-div {
    max-width: 300px;
}
.qualidade-div h2 {
    font-size: 2.5rem;
    color: #646464;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 12px;
    padding-left: 12px;
    padding-bottom: 10px;
    position: relative;
}
.purple::before{
    content: '';
    display: block;
    width: 8px;
    height: 30px;
    background-color: #ae81ff;
    position: absolute;
    left: 0px;
    top: 20px;
}
.pink::before{
    content: '';
    display: block;
    width: 8px;
    height: 30px;
    background-color: #f9265e;
    position: absolute;
    left: 0px;
    top: 20px;
}
.blue::before{
    content: '';
    display: block;
    width: 8px;
    height: 30px;
    background-color: #66d9eb;
    position: absolute;
    left: 0px;
    top: 20px;
}
.qualidade-div p {
    font-size: 1.2rem;
}

/* Newsletter */

.email-container {
    margin: 50px auto 0 auto;
    padding: 50px calc((100% - 1100px) / 2);
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email-container h2 {
    font-size: 3rem;
}
.email-container p {
    font-size: 1.6rem;
    max-width: 300px;
}
.email-container input {
    font-size: 2rem;
    max-width: 300px;
    padding: 20px 5px;
    border: #2C70FF solid 5px;
}
.email-container button {
    font-size: 2rem;
    padding: 20px 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: #2C70FF solid 5px;
    background-color: #2C70FF;
    color: #FFF;
}
.assinar {
    display: flex;
}

/* Footer */

footer {
    background-color: #2C70FF;
    font-size: 2rem;
    padding: 40px;
    display: flex;
}
footer p {
    max-width: 1100px;
    margin: 0 auto;
}